body{
	width:100%;
}
.nav{
 justify-content: center;
}
table{
	width:100%;
}
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 
